.movies {
    box-sizing: border-box;
}
.movies__title {
    background: var(--background-main);
    height: 40px;
    color: var(--color-text-primary);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.movies__list {
    background: var(--background-main);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
.movies__title > span {
    margin-left: 50px;
    border-bottom: 2px solid #00d575;
}
