.movies {
    box-sizing: border-box;
}
.movies__title {
    background: var(--background-main);
    height: 40px;
}
.movies__list {
    background: var(--background-main);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
.movies__title {
    color: var(--color-text-primary);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
