@import "src/styles/index";

.loader {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px dashed $primary-green;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(0.8);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }

}