@import "src/styles/variables";
/* reset styles */
* {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.rating-color-green {
  color: $secondary-green;
}
.rating-color-yellow {
  color: $yellow;
}
.rating-color-red {
  color: $red;
}