@import "variables";

@mixin base-display($dis, $jc, $ai) {
  display: $dis;
  justify-content: $jc;
  align-items: $ai;
}

@mixin display-direction($dis, $fd) {
  display: $dis;
  flex-direction: $fd;
}

@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin style-text($color: var(--color-text-primary), $fw: 500, $fs: $base-font-size) {
  color: $color;
  font-weight: $fw;
  font-size: $fs;
}

@mixin crop-text($white-space: nowrap, $overflow: hidden, $text-overflow: ellipsis) {
  white-space: $white-space;
  overflow: $overflow;
  text-overflow: $text-overflow;
}
