.container {
    width: 100%;
    display: flex;
}
.categories {
    width: 30%;
    background:  #3a3d44;
}
.categories__title {
    background: #1e1f23;
    height: 40px;
    display: flex;
    box-sizing: border-box;
    padding-left: 15px;
    align-items: center;
}
.categories__title h4 {
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
}
.categories__genre {

}
.categories__genre h5 {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration:  underline;
    margin-left: 20px;
}
