.movies {
    width: 100%;
    box-sizing: border-box;
}
.movies__title {
    background: #1e1f23;
    height: 40px;
}
.movies__list {
    background: #25282d;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
