.button__custom {
    background: #00d575;
    color: var(--color-text-primary);
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.button__custom:hover {
    box-shadow: 0 0 3px 0 #00d575;
}