.header {
    background: var(--secondary);
}
.header__logo{
    display: flex;
    background: var(--primary);
}
.user__info {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__name {
    width: 85%;
    background: var(--primary);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__name h1 {
    color: var(--color-text-primary);
}
.header__menu {
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.header__menu_item {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__menu_item a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.header__menu_item a:hover {
    color: burlywood;
}
.theme__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}
.theme__button button {
    height: 30px;
    width: 45px;
    background: var(--primary);
    color: var(--color-text-primary);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
}
