.header {
    background: var(--secondary);
}
.header__logo{
    display: flex;
    justify-content: center;
    background: var(--primary);
}
.header__name {
    width: 85%;
    background: var(--primary);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo h1 {
    color: var(--color-text-primary);
}
.header__menu {
    margin: auto;
    width: 85%;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: var(--secondary);
}
.header__menu_item {
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__menu_item:hover {
    background: var(--auxiliary);
    box-sizing: border-box;
    border-bottom: 3px solid #31c469;
}
.header__menu_item a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.theme__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}
.theme__button button {
    height: 30px;
    width: 45px;
    background: var(--primary);
    color: var(--color-text-primary);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px var(--black);
    border-radius: 5px;
}