.header {
    background: #25282d;
}
.header__name {
    background: #3a3d44;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__name h1 {
    color: #ffffff;
}
.header__menu {
    height: 50px;
    box-sizing: border-box;
}
.header__menu_item {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
}
.header__menu_item a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
}
.header__menu_item a:hover {
    color: burlywood;
}
