.carousel {
    height: 500px;
    position: relative;
}
.carousel > img {
    width: 100%;
}
.swiper-pagination-bullet {
    background: #00d575;
}
.poster__image {
    box-shadow: 0 0 3px black;
    margin-right: 10px;
    height: 100%;
}
.poster__overlay {
    color: var(--color-text-primary);
    position: absolute;
    padding: 100px;
    bottom: 0;
    height: 60%;
    display: flex;
    width: 100%;
    //background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}
.poster__overlay a {
    text-decoration: none;
    color: var(--color-text-primary);
}
.poster__overlay a:hover {
    color: #00d575;
}
.poster__info {
    width: 300px;
}
.poster__info_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 0;
    font-size: 25px;
}
.poster__info_title > span {
    border-bottom: 2px solid #00d575;
}
.poster__info p:last-child {
    text-align: justify;
    text-indent: 20px;
}