@import "src/styles/index";

.carousel {
    height: 500px;
    position: relative;

    & > img {
        width: 100%;
    }
}

.poster-overlay {
    color: var(--color-text-primary);
    position: absolute;
    padding: 100px;
    bottom: 0;
    height: 60%;
    display: flex;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;

    a {
        text-decoration: none;
        color: var(--color-text-primary);

        &:hover {
            color: $primary-green;
        }

        .poster-image {
            box-shadow: 0 0 3px $black;
            margin-right: $base-margin;
            height: 100%;
        }
    }

    .poster-info {
        width: 300px;

        .poster-info-title {
            @include crop-text();
            padding: 3px 0;
            font-size: 25px;
            margin-bottom: $base-margin;

            & > span {
                border-bottom: 2px solid $primary-green;
            }
        }

        p {
            & > span {
                color: $primary-green;
            }
            &:last-child {
                text-align: justify;
                text-indent: 20px;
            }
        }
    }
}
.swiper-pagination-bullet {
    background: $primary-green;
}