.movie__card {
    width: 19%;
    background: var(--primary);
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
.movie__card:hover {
    box-shadow: 0 0 10px 0 var(--background-main);
}
.movie__card a {
    text-decoration: none;
}
.movie__card img {
    width: 100%;
    border-radius: 10px;
}
.movie__card_title {
    color: var(--color-text-primary);
    font-weight: 500;
}
.movie__card_title div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rating {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(58, 61, 68, 0.71);
    font-weight: 600;
}
.rating__color_green {
    color: green;
}
.rating__color_yellow {
    color: yellow;
}
.rating__color_red {
    color: red;
}
