.main_loader{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.swiper-button-next, .swiper-button-prev {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 5px;
  border-radius: 5px;
}