.media-details-container {
    background: var(--background-main);
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 25px 1.5rem;
    color: var(--color-text-primary);

    .media-details-casts {
        margin-top: 330px;
    }
}
