.media__details_container {
    background: var(--background-main);
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0 25px 25px;
    color: var(--color-text-primary);
}
.media__details_casts {
    margin-top: 330px;
}