.home {
    background: var(--background-main);
    color: var(--color-text-primary);
    box-sizing: border-box;
    min-height: 100vh;
}
.media__slider {
    margin-top: 20px;    
}
.media__slider>div {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media__slider h2 {
    border: 2px solid #00d575;
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
}
.swiper {
    padding: 0 8px;
}